@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
  --breakpoint-small: 500px;
  --breakpoint-mobile: 700px;
  --breakpoint-laptop: 922px;
}
