@import "tailwindcss";

@theme {
  --breakpoint-small: 560px;
  --breakpoint-mobile: 650px;
  --breakpoint-tablet: 820px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1200px;
  --font-oswald: "Oswald", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
  --text-shadow-heading: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

html,
body {
  @apply scroll-smooth;
}
.swiper-pagination-bullet {
  background-color: rgba(31, 41, 55, 1) !important;
}
.swiper-pagination-bullet-active {
  background-color: rgba(249, 115, 22, 1) !important;
}
