@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
  --breakpoint-small: 560px;
  --breakpoint-mobile: 650px;
  --breakpoint-tablet: 820px;
  --breakpoint-laptop: 976px;
  --breakpoint-desktop: 1200px;
}

html,
body {
  @apply scroll-smooth;
}

.swiper-pagination-bullet-active {
  background-color: rgba(147, 197, 253, 0.7) !important;
}
